# secrets-templates\argocd-secret.yaml.j2
apiVersion: v1            
kind: Secret               
metadata:
  name: argocd-secret      
  namespace: argocd       
type: Opaque             
data:
  username: {{ common_auth_user | b64encode }}
  password: {{ argocd_auth_password | b64encode }}
