# secrets-templates\jenkins-admin-secret.yaml.j2
apiVersion: v1
kind: Secret
metadata:
  name: jenkins-admin-secret
  namespace: ci
  annotations:
    sealedsecrets.bitnami.com/managed: "true"
type: Opaque
data:
  username: {{ jenkins_auth_user | b64encode }}
  password: {{ jenkins_auth_password | b64encode }}