# secrets-templates/longhorn-ui-secret.yaml.j2
apiVersion: v1
kind: Secret
metadata:
  name: longhorn-ui-secret
  namespace: longhorn-system
type: Opaque
stringData:
  admin-username: "{{ longhorn_user }}"
  admin-password: "{{ longhorn_password }}"