# secrets-templates\postgres-secret.yaml.j2
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: default
type: Opaque
data:
  username: {{ postgres_username | b64encode }}
  password: {{ postgres_password | b64encode }}
