# secrets-templates\smtp-password-secret.yaml.j2
apiVersion: v1
kind: Secret
metadata:
  name: smtp-password-secret
  namespace: default
type: Opaque
data:
  smtp-password: {{ smtp_password | b64encode }}