# secrets-templates/traefik-dashboard-secret.yaml.j2
apiVersion: v1
kind: Secret
metadata:
  name: traefik-dashboard-secret
  namespace: kube-system
type: Opaque
stringData:
  auth: "{{ traefik_basic_auth | default('admin:$apr1$3L3fT1rX$y2N1R7D2aGZgPfhnxPzTy1') }}"
