# secrets-templates\webhook-github-secret.yaml.j2
apiVersion: v1
kind: Secret
metadata:
  name: webhook-github-secret
  namespace: ci
type: Opaque
data:
  webhook-secret: {{ github_webhook_secret | b64encode }}
